<main class="d-flex justify-content-center">
  {{> sidebar-left route="public"}}
  <section style="width:414px; border:1px solid #E6ECF0">
    <ul class="list-group list-group-flush">
      <li class="list-group-item align-middle ps-3 py-3"
        style="border-left: none;border-right: none;font-weight: bold; font-size: 24px;">
        上線使用者(<span id="onlineCounts">0</span>)
      </li>
      <p id="id" class="d-none">{{user.id}}</p>
      <p id="avatar" class="d-none">{{user.avatar}}</p>
      <h5 id='name' class="d-none">{{user.name}}</h5>
    </ul>
    <ul id="publicPeople" class="list-group overflow-auto" style="width: 24vw;">
      <li class="list-group-item" style="border: none;">
        <div id="onlinePeople">
        </div>
      </li>
    </ul>
  </section>
  <section style="width:712px; border:1px solid #E6ECF0">
    <ul class="list-group list-group-flush">
      <li class="list-group-item align-middle ps-3 py-3" style="font-weight: bold; font-size: 24px;">
        公開聊天室
      </li>
      <ul id="publicboard" class="list-group overflow-auto " style="max-height: 800px; overflow-y: scroll;">
        <li class="list-group-item" style="border:none">
          <div id='board' class="px-4 pb-5">
            {{#each allMsg}}
            {{#ifCond ../user.id this.UserId}}
            <!--右邊訊息-->
            <div class=" d-flex flex-row-reverse">
              <div class="col-3 flex-column">
                <div>
                  <p class="d-inline msgblockright " style="word-wrap:break-word">
                    {{this.content}}</p>
                </div>
                <p class="text-muted mx-0 bd-highlight"
                  style="font-size: 0.675em; padding-left: 0.3rem; margin-top: 0.3rem;">
                  {{moment this.createdAt}}</p>
              </div>
            </div>
            <!--右邊訊息-->
            {{ else }}
            <!--左邊訊息-->
            <div class="d-flex row">
              <div class="col-1 d-flex justify-content-center">
                <a href="/users/{{this.UserId}}/tweets" class="p-1">
                  <img src='{{this.User.avatar}}' class="rounded-circle" style="width: 40px; height: 40px"
                    alt="avatar" />
                </a>
              </div>
              <div class="col-11 pl-0 mt-3">
                <div>
                  <p class="d-inline msgblockleft" style="word-wrap:break-word">{{this.content}}</p>
                </div>
                <p class="text-muted mx-0"
                  style="font-size: 13px; padding-left: 1px; margin-top: 6px;line-height: 13px;">{{moment
                  this.createdAt}}</p>
              </div>
            </div>
            <!--左邊訊息-->
            {{/ifCond}}
            {{/each}}
            {{!--each msg--}}
          </div>
        </li>
      </ul>
      <div class="list-group-item position-absolute bottom-0 col-6 px-2" id="msgInputBtn" style="bottom: 0; width:650px">
        <div class="input-group">
          <form id="form" action="" class="d-flex w-100">
            <input id="input" type="text" class="form-control bg-light w-100" placeholder="輸入訊息..." aria-label="msgInput"
              aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-tomato" id="button-addon2"><img src="/images/chatroom/right-arrow.svg"
                  alt="sendmsg"></button>
            </div>
          </form>
        </div>
      </div>
    </ul>
  </section>
</main>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src='/javascripts/chatroom/publicSocket.js'></script>